.header-container {
  background-color: rgb(58, 77, 101);
  display: flex;
  justify-content: space-between;
  padding: 24px;
  align-items: center;
}

.header-title {
  color: white;
}

.header-profileLink {
  color: white;
  text-decoration: none;
}
