.header-container {
  width: 100vw;
  height: 5vh;
  background-color: rgb(58, 77, 101);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-title {
  display: flex;
  justify-content: center;
}

.header-profileLink {
  display: flex;
  justify-content: right;
}
